$font-face-normal: Tahoma,Geneva,sans-serif;




//BACKGROUND
$main-bg:#fff;

//ANCHOR
$anchor-hover:#767f85;
$anchor:#8e989f;

// COLOURS
$body_colour:#fff;
$copy_colour:#333;
$white:#fff;
$pink:#ed008c;
$black:#000;
$grey:#666;
$dark-grey:#333;
$light-grey:#999;
$exlight-grey:#f3f3f3;
$tab-bg:#f5f5f5;
$colour-h1:$pink;
$colour-h2:$black;
$colour-h3:$black;
$colour-h4:$anchor;
$colour-h5:$black;

$default-text-shadow-color: rgba(white, 0.6);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;
 